
* {box-sizing: border-box;}

body { 
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #1c1c7f;
  padding: 20px 10px;
  font-family: 'Teko', sans-serif;
  width:100%;

}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Teko', sans-serif;
}

.header a.logo {
  font-size: xx-large;
  color:#fff
}

.header a:hover {
  background-color: #434397;
  color: rgb(255, 255, 255);
}

.header-right {
  float: right;
}


.straight-line {
    border: none; /* Remove the default border */
    border-top: 1px solid #000; /* Set the border to be a 1-pixel solid line */
    margin: 10px 0; /* Adjust margin to control the space above and below the line */
    width: 100%; /* Set the width to 100% to make it span the container */
    height: 2px;

  }



  h1 {
    margin: 0; 
}

h1 a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Set link text color */
}   

nav ul {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 10px; /* Add some space between list items */
}
nav a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Set link text color */
    
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position:sticky;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: large;
    width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }


.beholder {
    position:-ms-page;
}
.mascotbilde {
    height: 250px;
    width: 100%;
}

.about {
    font-size:large;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-indent: 50px;
    line-height: 1.7;
}

.sitatbox1 { 
    display: flex; /* Add flex display to center horizontally */
    justify-content: center;
    border-style: hidden;
    background-color: #1c1c7f;
    border-width: 5px; /* Correct the border property */
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    width: 70%;
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    color: #ffffff !important;
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 40px;
    
} 

.rounded-box p { 

    color: #ffffff; /*text*/ 

} 


.container {
    display: flex;
    margin-bottom: 0;
}

.image-wrapper {
    display: flex-start;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    padding-right: 40px;

}

h2 {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    margin-bottom: 10px;
    text-align:left;
}

.image-container {
    display: flex-start;
    flex-direction:row;
    margin-right: 40px;
    margin-left: 40px;
    font-size:larger;
    line-height: 1.7;

    
}

.image-1 {
    width: 300px;
    float:right;
    padding-right:20px;
    padding-left:20px;
    margin-left: 20px;

}


.image-2  {
    width: 300px;
    float:right;
    padding-right:20px;
    padding-left:20px;
    margin-left: 20px;

}

.image-3 {
  width: 450px;
  float:left;
  padding-right:30px;
  padding-left:20px;
  margin-left: 20px;

}

.titles-home {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    margin-bottom: 10px;
    text-align:left;
    letter-spacing: 3px;
    margin-left:40px;

}

  /* Style the footer container */
  .footer {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-color:#1c1c7f;
    color: #fff;
    padding: 10px;
}

.sources {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    margin-bottom: 10px;
    text-align:left;
    color: #fff;
    display:flex-start;
}
/* Style the list of links */
.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin: 5px 0;
}

.links li a {
    color: #ffffff; /* Link color */
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.links li a:hover {
    text-decoration: underline; /* Add underlines on hover */
    color: #ff6600; /* Change the link color on hover */
}

/* Style the button */
.button {
    background-color: #ffffff; /* Button background color */
    color: #1c1c7f; /* Button text color */
    padding: 20px 30px; /* Adjust as needed */
    border: none;
    cursor: pointer;
    margin-right:65px;
    margin-left:150px;
    border-radius: 12px;
    font-size:large;
    font-family: 'Teko', sans-serif;
}

/* Adjust the spacing between the button and the links */
.footer-content {
    display: flex;
    align-items: center;
}

.white-line{
    border: none; 
    border-top: 1px solid #ffffff; 
    margin: 0 10px; 
    width: 100%;
    height: 4px;
  }

  hr.thick-line {
    border: none;
    background-color:#1c1c7f;
    height: 30px;
    margin: 20px 0;
  }

  .a-list {
    font-size: large;
    margin-left:20px;
    margin: right 20px;
    line-height:1.5;
    margin-bottom:2px;
    padding-left:10px;
  }